@use '../utils' as *;

/*----------------------------------------*/
/*   PRODUCTS
/*----------------------------------------*/

.products{
  margin: 6rem 0;
  padding: 0 8%;

  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-title{
      position: relative;
     h1{
       font-size: 6vw;
       color: var(--tp-theme-1);
       padding-top: 1.6rem;
       @media #{$sm, $xs}{
         font-size: 3rem;
       }
     }

      .star-1 {
        position: absolute;
        top: 0;
        left: 100%;
        font-size: 4rem;
        color: var(--tp-common-orange);
        @media #{$md, $sm, $xs}{
          left: 65%;
          font-size: 3rem;
        }
      }
    }

    &-icons{
      display: flex;
      align-items: center;
      column-gap: 2rem;
      font-size: 2.5rem;
      .icon{
        cursor: pointer;
        color: var(--tp-text-15);
        @include transition(.30s);
        &:hover{
          color: var(--tp-common-orange);
        }
      }
    }
  }

  &__wrapper{
    display: flex;
    position: relative;
  }
}



/*----------------------------------------*/
/*   PRODUCT
/*----------------------------------------*/
.product{
  position: relative;
  margin-bottom: 6rem;
  margin-top: 3rem;

  &__image{
    .image-wrapper{
      position: relative;
      width: 100%;
      height: 312px;
      .image{
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
      }
    }
  }

  &__details{
    background: var(--tp-theme-1);
    color: var(--tp-common-white);
    padding: 2rem;
    display: flex;
    justify-content: space-between;

    &-name{
      font-size: 1.2rem;
      font-weight: 400;
    }
    &-category{
      font-family: var(--tp-ff-script);
      font-size: 1.4rem;
    }
    &-price{
      font-family: var(--tp-ff-heading);
      font-size: 1.4rem;
      color: var(--tp-common-orange);
      margin-top: 1rem;


    }
    &-cart{
      margin-top: 1rem;
      font-size: 2.5rem;
      cursor: pointer;

      @include transition(.30s);
      &:hover{
        color: var(--tp-common-orange);
      }
    }
  }
}