@use '../utils' as *;

/*----------------------------------------*/
/*   CTA
/*----------------------------------------*/

.cta{
  margin: 6rem 0;
  padding: 4rem 8%;
  position: relative;
  overflow: hidden;
  @media #{$sm, $xs}{
    padding: 0 8%;
    margin: 4rem 0;
  }
  &__text{
    display: flex;
    justify-content: center;
    line-height: 6vw;
    color: var(--tp-theme-1);
    z-index: 6;
    @media #{$sm, $xs}{
      line-height: 7vw;
    }

    &-1, &-3{
      font-family: var(--tp-ff-script);
      font-size: 6vw;
      @media #{$sm, $xs}{
        font-size: 3rem;
      }
    }
    &-2{
      font-family: var(--tp-ff-heading);
      font-size: 6vw;
      @media #{$sm, $xs}{
        font-size: 3rem;
      }
    }
  }

  &__images{
    padding-top: 20px;
    &-1, &-2, &-3, &-4{
      position: relative;
      .image{
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 100px;
      }
    }

    &-1{
      position: absolute;
      top: 20px;
      left: 0;
      width: 8vw;
      height: 14vw;
      margin-top: -20px;
      @media #{$sm, $xs}{
        top: 20%;
      }

    }
    &-2{
      position: absolute;
      top: 20px;
      right: 20%;
      width: 18vw;
      height: 12vw;
      z-index: -1;
      margin-top: -20px;
      @media #{$sm, $xs}{
        top: 20%;
        opacity: 0.65;
      }
    }
    &-3{
      position: absolute;
      bottom: 0;
      left: 25%;
      width: 12vw;
      height: 12vw;
      border-radius: 50%;
      z-index: -1;
      @media #{$sm, $xs}{
        bottom: 30px;
        opacity: 0.65;
      }
    }
    &-4{
      position: absolute;
      bottom: 0;
      right: -20px;
      width: 8vw;
      height: 14vw;
      @media #{$sm, $xs}{
        bottom: 30px;
        right: 20px;

      }
    }
  }
}