@use '../utils' as *;

/*----------------------------------------*/
/*   MARQUEES
/*----------------------------------------*/
.marquees{
  overflow: hidden;
  display: flex;
  align-items: center;
  font-family: var(--tp-ff-heading);
  font-size: 4vw;
  border-top: 1px solid var(--tp-theme-1);
  border-bottom: 1px solid var(--tp-theme-1);
  margin-bottom: 8rem;
  transform: rotate(-5deg);
  width: 100%;
  height: 100%;
  max-width: 100vw;
  position: relative;
  @media #{$sm, $xs}{
    font-size: 2rem;
  }
  &-item {
    margin-right: 2.5rem;
    padding: 2rem 0;
    color: var(--tp-theme-1);
  }
  &-icon{
    color: var(--tp-common-orange);
  }
}