@use '../utils' as *;

/*----------------------------------------*/
/*   FOOTER
/*----------------------------------------*/

.footer{
  padding: 6rem 8%;
  background: #fff6e0;
  &__top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media #{$md, $sm, $xs}{
      grid-template-columns: 1fr;
      row-gap: 1rem;
    }

    .tagline{
      font-family: var(--tp-ff-primary);
      font-size: 0.85rem;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: var(--tp-common-orange);
    }

    .logo{
      font-family: var(--tp-ff-script);
      font-size: 5rem;
      color: var(--tp-theme-1);
    }

    p{
      font-size: 1.2rem;
      font-weight: 300;
      width: 80%;
      @media #{$sm, $xs}{
        font-size: 1rem;
        width: 100%;
      }
    }
  }

  &__bottom{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media #{$md, $sm, $xs}{
      grid-template-columns: 1fr;
      row-gap: 1rem;
    }

    &-left{
      display: grid;
      grid-template-columns: 1fr 1fr;
      @media #{$md, $sm, $xs}{

      }

      h4{
        color: var(--tp-theme-1);
      }
      ul{
        margin-top: 20px;
      }
      li{
        margin: 10px 0;
        font-size: 1.1rem;
        a{
          @include transition(0.45s);
          &:hover{
            color: var(--tp-common-orange);
            text-decoration: underline;
          }
        }
      }
    }

    // BOTTOM RIGHT
    &-right{
      display: flex;
      align-items: center;
      column-gap: 2rem;
      .icon{
        height: 4rem;
        width: 4rem;
        border: 1px solid var(--tp-common-orange);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.6rem;
        border-radius: 50%;
        cursor: pointer;
        @include transition(0.45s);
        &:hover{
          background: var(--tp-common-orange);
          color: var(--tp-common-white);
        }
      }
    }
  }

}