
// font url

$font-url: 'https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Niconne&family=Spicy+Rice&display=swap';

// font family
$font-family: (
    ff: (
        body: "'Inter', sans-serif",
        heading: "'Spicy Rice', cursive",
        p: "'Inter', sans-serif",
            script: "'Niconne', cursive"
    )
);

// font weight
$font-scale: (
    fw: (
        normal: normal,
        elight: 200,
        light: 300,
        regular: 400,
        medium: 500,
        sbold: 600,
        bold: 700,
        ebold: 800,
        black: 900,
    )
);



// font size
$font-size: (
    
    fz: (
        body: 14px,
        p: 14px,
        h1: 40px,
        h2: 36px,
        h3: 24px,
        h4: 20px,
        h5: 16px,
        h6: 14px,
    )
);


